# python related
*.egg-info
*.pyc
*.pyo
.python-version

# translation related
*.mo

# tools related
build/
.coverage
coverage.xml
dist/
docs/_build
docs/_autosummary
__pycache__/
.tox
.vscode/
node_modules/
sandbox/
htmlcov/
.ipynb_checkpoints

# venv  related
bin/
develop-eggs/
eggs/
.eggs/
etc/
.installed.cfg
include/
lib/
lib64
.mr.developer.cfg
parts/
pyvenv.cfg
var/

# local testing related
.env*
keys/

# IDE
.idea
