[project]
name = "edutap.wallet_google"
version = "1.0.0b0.dev0"
description = "Library for Google Wallet Communication"
keywords = ["wallet", "google", "api", "pass"]
readme = "README.md"
authors = [
    {name = "Philipp Auersperg-Castell", email = "phil@bluedynamics.com"},
    {name = "Alexander Loechel", email = "Alexander.Loechel@verwaltung.uni-muenchen.de"},
    {name = "Jens Klein", email = "jk@kleinundpartner.at"},
]
requires-python = ">=3.10"
license = { text = "EUPL 1.2" }
classifiers = [
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "License :: OSI Approved :: European Union Public Licence 1.2 (EUPL 1.2)",
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Topic :: Software Development :: Libraries",
    "Operating System :: OS Independent",
]
dependencies = [
    "pydantic[email,dotenv]>=2.0",
    "python-dotenv",
    "google-auth",
    "google-cloud-storage",
  ]

[project.urls]
Source = "https://github.com/edutap-eu/edutap.wallet_google"
Issues = "https://github.com/edutap-eu/edutap.wallet_google/issues"
Documentation = "https://docs.edutap.eu/packages/edutap_wallet_google.html"

[project.optional-dependencies]
test = [
    "pytest",
    "requests-mock",
]
typecheck  = [
    "mypy",
    "google-auth-stubs",
    "types-requests",
    "pytest-stub",
]
develop = [
    "pdbpp",
    "ipython",
]

[build-system]
requires = ["setuptools>=61"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
where = ["src"]

[tool.pytest.ini_options]
minversion = "6.0"
testpaths = [
    "tests",
]

[tool.isort]
profile = "plone"

[tool.black]
target-version = ["py39"]
include = "src"

[tool.codespell]
ignore-words-list = "discreet,"

[tool.check-manifest]
ignore = [
    ".editorconfig",
    ".pre-commit-config.yaml",
    "tox.ini",
    "mypy.ini",
    ".flake8",
    "mx.ini",

]
