name: CI

on:
  push:
    branches-ignore:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    uses: "./.github/workflows/tests.yaml"
    secrets: inherit
